.html{
    box-sizing:border-box;
    scroll-behavior: smooth;
}
*,*:before,*after{
    box-sizing:inherit;
}
body{
    width: 100%;
    height: 100%;
    animation-name: transitionIn;
    animation-duration: 0.6s;
    overflow-x: hidden;
}

@keyframes transitionIn{
    0%{
        opacity: 0;
        transform: rotateX(-15deg);
    }
    100%{
        opacity: 1;
        transform: rotateX(0deg);
    }
}

.back-to-top{
    position: absolute;
    position: fixed;
    color: #fff;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background-color: rgb(59, 151, 212);
    border-radius: 100px;
}
.dropdown-item{
    transition: 0.6s;
 }
.dropdown-item:hover{
    background-color: #b5e3f7;
}
.nav-item{
    width: 100%;
    line-height: normal;
    border-radius: 10px;
    /* padding-right: 20px; */
    margin-right: 20px;
    transition: all .6s;
    
}
.nav-item:hover{
    border-radius: 10px;
    background-color: #3bc4ff;
}
.nav-link{
    width: 100%;
    line-height: normal;
    height: 50px;
}

.title{
    background-color: #3bc4ff;
    font-size: 40px;
    font-weight: 900;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    list-style: none;
}
.title p{
    background-color: #b0e7ff;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}
.card{
    /* margin-top: 50px; */
    width: 100vw;
    overflow: hidden;
    transform: scale(1);
    display: flex;
    justify-content: center;
}
.news-area{
    background-color: #a3edff;
    width: 99vw;
}
.img-container{
    width: 100%;
    height: 100%;
    filter:brightness(87%);
    overflow: hidden;
    transition: all 0.5s;
}
.img-container:hover{
    filter:brightness(100%);
}
 /* .img-container p{ 
    z-index: 1;
    font-size: 28px;
    color: #000;
    transition: all 0.8s;
    position: relative;
}  */

.card-img-top{
    margin-top: 30px;
    /* filter:brightness(90%); */
    filter:blur(0.5px);
    transform: scale(.9);
    transition: all 0.5s;
}
.card-img-top:hover{
    filter:blur(0px);
    filter:brightness(100%);
    transform: scale(1.1);
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #3bc4ff;
}
@media (min-width:992px) {
    .nav-link{
        font-size: 20px !important;
    }

}
@media (min-width:1200px) {
    .nav-link{
        font-size: 28px !important;
    }

}

/* ------------page3------------ */
/* ------------page3------------ */
/* .history{
    width: 100%;
    display: flex;
    justify-content: center;
} */
@media (max-width:720px) {
    footer{
        font-size: 12px;
    }
}
@media (max-width:520px) {
    footer{
        font-size: 8px;
    }
}
@media (max-width:860px) {
    .history-title{
        font-size: 24px !important;
    }
}

@media (max-width:660px) {
    .history-title{
        font-size: 18px !important;
    }
}

@media (max-width:420px) {
    .history-title{
        font-size: 12px !important;
    }
}
.history{
    /* display: flex; */
    justify-content: center;
    width: 90%;
    /* align-items: center; */
    margin: 0 auto;
    margin-top: 5%;
    padding-top:2%;
    padding-right: 2%;
    padding-left: 2%;
    background-color: rgba(95, 205, 253, 0.8);
}
.feature{
    /* display: flex; */
    justify-content: center;
    width: 90%;
    /* align-items: center; */
    margin: 0 auto;
    margin-top: 5%;
    padding-top:2%;
    padding-right: 2%;
    padding-left: 2%;
    margin-bottom: 3%;
    background-color: rgba(95, 205, 253, 0.8);
}
.history-title{
    display: flex;
    justify-content: center;
    font-size: 36px;
    list-style: none;
    text-decoration: none;
    color: #000;
    font-weight: 900;
    margin-top: auto;
    padding-right: 40%;
    padding-left: 40%;
    background-color: #8AE4FF;
    border-radius: 10px;
}
.history-area{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    padding-bottom: 2%;
}
.feature-area{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    padding-bottom: 2%;
    
}
.feature-img{
    transform: scale(0.9);
    transition:all 0.3s;
    transition-timing-function: ease-in-out;
}
.feature-img:hover{
    transform: scale(0.98);
    box-shadow:10px 5px 0 rgb(53, 120, 165);
}
.history img{
    padding-right: 2%;
    border-radius: 10px;
}
@media (max-width:768px) {
    .feature img{
        padding-bottom: 5%;
    }
}
@media (max-width:992px) {
    .history img{
        padding-right: 0px;
    }
    .history img{
        padding-bottom: 3%;
    }
}
.history-text{
    /* width: 500px; */
    /* min-width: fit-content; */
    height: 330px;
    overflow-y: scroll;
    background-color: #C8F2FF;
}




/* -----page4----- */
.card-container2{
    width: 940px;
    height: 540px;
    position: relative;
    perspective:1000px;
  }
  .cover2,.back2{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility:hidden;
    transition: transform .25s ease-in-out;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight: bold;
    font-size: 48px;
    border-radius: 15px;
  }
  .cover2{
    transform:rotatey(0deg);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d0e4f7+0,73b1e7+24,0a77d5+50,539fe1+79,87bcea+100;Blue+Pipe+%231 */
  background: #d0e4f7; /* Old browsers */
  background: -moz-linear-gradient(top,  #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */
  
  }
  .card-container2:hover .cover2{
    transform:rotatey(180deg);
  }
  .back2{
    transform:rotatey(-180deg);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+28,ff7c00+82,ff7f04+100 */
  background: #ffb76b; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffb76b 0%, #ffa73d 28%, #ff7c00 82%, #ff7f04 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffb76b 0%,#ffa73d 28%,#ff7c00 82%,#ff7f04 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffb76b 0%,#ffa73d 28%,#ff7c00 82%,#ff7f04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */
  
  }
  .card-container2:hover .back2{
    transform:rotatey(0deg);
}



.card-container{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 20%;
}
.card-intro{
    position: relative;
    width: 600px;
    height: 300px;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 0 0 13px 0px rgba(0,0,0,.3);
    transition: .5s;
    overflow: hidden;
    margin: .85rem;
}
.card-intro:hover{
    height: 480px;

}

.card-intro img{
    width: 100%;
    border-radius: 16px;
    transition: .5s;
}
.card-intro:hover img{
    border-radius: 16px 16px 0 0;
}

.card-intro .card-text{
    padding: .5rem .85rem 1rem;
    height: 0;
}

.card-intro .card-text h6{
    margin: .5rem 0;
    font-size: 28px;
    color: crimson;
    letter-spacing: 3px;
}

.card-intro .card-text p{
    text-align: justify;
    font-size: 20px;
    line-height: 25px;
}

.card-intro .card-text div{
    text-align: right;
    width: 100%;
}

.card-intro .card-text div a{
    position: relative;
    text-decoration: none;
    color: #526ffd;
    padding: .5rem;
    text-align: center;
    z-index: 999;
    font-size: 20px;
    border-radius: 10px;
    transition: all .5s;
}

.card-intro .card-text div a::before{
    position: relative;
    content: '';
    width: 13px;
    height: 13px;
    background: #526ffd;
    border-radius: 300px;
    left: -13px;
    top: 3px;
    z-index: -1;
    transition: all .3s;
}

.card-intro .card-text div a:hover{
    color: rgb(60, 58, 194);
    font-weight: 900;
    background-color: rgb(164, 223, 247);
}

.card-intro .card-text div a:hover::before{
    width: 100%;
    height: 88%;
    left: 0;
}
@media (max-width:1283px) {
    .card-intro{
        height:230px;
    }
    .card-intro:hover{
        height: 420px;
    }
}

@media (max-width:637px) {
    .card-intro{
        height:160px;
    }
    .card-intro:hover{
        height: 420px;
    }
}

@media (max-width:550px) {
    .card-intro{
        height:140px;
    }
    .card-intro:hover{
        height: 440px;
    }
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-top: 2%;
    resize: vertical;
    flex-wrap: wrap;
    flex-wrap:inherit;
    z-index: -2;
}
.form-container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-top: 2%;
    resize: vertical;
    flex-wrap: wrap;
    flex-wrap:inherit;
}
.comment{
    width: 500px;
    height: 200px;
    padding-bottom:100px;
    display: flex;
    justify-content: center;
    resize: vertical;
    
    
}
.send{
    width: 200px;
    height: 50px;
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
    justify-content: center;
}
/* -----page4----- */

.page4-footer{
    position: sticky ;
    bottom: 0;
    z-index: 2;
}

/*-----page5------ */
.download-img{
    transform: scale(1);
    transition:all 0.3s;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    transition-timing-function: ease-in-out;
}
.download-img:hover{
    transform: scale(1.1);
}

/* -----page5----- */